<!DOCTYPE html>
<div class="panel panel-default">
  <div class="panel-heading">Modal from template string</div>
  <div class="panel-body">
    <div modal-ctrl-tmpl>
      <button class="btn btn-default" ng-click="ctrl.open()">Open me!</button>
      <div ng-show="ctrl.selected != null">Selected: {{ ctrl.selected }}</div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Multi Modal from template element and template URL</div>
  <div class="panel-body">
    <div modal-ctrl-tag-tmpl>
      <button class="btn btn-default" ng-click="ctrl.open('template_2.html')">Open me!</button>
      <div ng-show="ctrl.selected != null">Selected: {{ ctrl.selected + ' - ' + ctrl.other }}</div>
      
      <!-- Modal Window template -->
      
      <template id="template_2.html" type="text/ng-template">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">I'm a modal!</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li ng-repeat="item in ctrl.items">
              <a ng-click="ctrl.tmp = item">{{ item }}</a>
            </li>
          </ul>
          Selected: <b>{{ctrl.tmp}}</b><br>
          Other Selected: <b>{{ctrl.other}}</b>
          <hr>
          <div modal-ctrl-other-tmpl ng-model="ctrl.other">
            <a ng-click="ctrl2.open('modal/modal_window2.html')">Open other Modal Window</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="ctrl.ok(ctrl.tmp)">OK</button>
        </div>
      </template>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Modal from template file</div>
  <div class="panel-body">
    <div modal-ctrl-file-tmpl>
      <button class="btn btn-default" ng-click="ctrl.open('modal/modal_window.html')">Open me!</button>
      <div ng-show="ctrl.selected != null">Selected: {{ ctrl.selected }}</div>
    </div>
  </div>
</div>